.card {
  //   width: 400px;
  &__img {
    // height: 318px;
  }
  &__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__price {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);

    align-items: baseline;
  }
  &__icons {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
}
