.toolbar {
  &__wrapper {
    display: grid;
    grid-template-columns: 500px 500px 50px;
    grid-template-rows: repeat(2, minmax(1fr, auto));
    align-items: end;
  }
  &__prices {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.prices {
  display: flex;
}
